body {
    color: #fff;
}
.section {
    background-color: #198754;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.form-container {
    background-color: #fff;
}